<!-- Contenedor de Titulo -->
<div class="sticky top-0 w-full bg-gray-900 text-white flex justify-center">
  <!-- Titulo -->
  <div class="relative w-10/12">
    <div class="relative z-50 p-3 w-8/12 outline-white flex flex-wrap justify-start">
      <h1 class="text-2xl w-full">Titulo de la Novela</h1>
      <p class="w-full text-sm">
        Puntuacion:
        <span>
          4.7
        </span>
        <span>
          <fa-icon [icon]="faIcons['faStar']"></fa-icon>
          <fa-icon [icon]="faIcons['faStar']"></fa-icon>
          <fa-icon [icon]="faIcons['faStar']"></fa-icon>
          <fa-icon [icon]="faIcons['faStar']"></fa-icon>
          <fa-icon [icon]="faIcons['faStarHalf']"></fa-icon>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="w-full bg-gray-800 text-gray-900 flex justify-center">
  <div class="w-10/12 flex flex-wrap items-start relative">
    <!-- Contenedor Descripcion y demas -->
    <div class="w-8/12 p-3 bg-gray-600 text-white">
      <!-- Categorias -->
      <div class="flex flex-wrap">
        <p class="mr-3 rounded-full text-sm border-2 border-solid border-gray-900 px-2 py-1">Rafael</p>
        <p class="mr-3 rounded-full text-sm border-2 border-solid border-gray-900 px-2 py-1">Rafael</p>
        <p class="mr-3 rounded-full text-sm border-2 border-solid border-gray-900 px-2 py-1">Rafael</p>
      </div>

      <!-- Descripcion -->
      <div class="">
        <P>Sinopsis</P>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi ullam consectetur dolorem quod
          nesciunt officia velit expedita repellat? Quis quibusdam est nemo obcaecati? Asperiores corrupti possimus
          numquam repellat unde?</p>
        <p>Illum veritatis, dolor voluptate soluta minus facilis consectetur labore possimus adipisci enim non maxime
          veniam delectus molestias consequatur libero esse nisi culpa. Quae sunt, distinctio delectus explicabo
          possimus recusandae iusto!</p>
        <p>Atque excepturi minima veritatis ad impedit provident enim, earum alias unde rerum. Exercitationem eius quod
          quam quaerat maxime commodi enim in ad sed possimus officiis laudantium aliquam dolorum, rerum officia.</p>
        <p>Exercitationem, iste quod cupiditate praesentium veritatis a ad debitis voluptas quo, deleniti perspiciatis
          ipsa eum nesciunt ipsam placeat eaque unde aliquid harum vitae dolorem? Quidem quaerat quas cumque. Maxime,
          autem!</p>
        <p>Est reprehenderit aliquid dolore illum deleniti, saepe quasi ipsam quo neque voluptatibus blanditiis porro
          velit dicta ratione pariatur optio aspernatur repellendus iste nobis. Veritatis temporibus architecto numquam
          doloribus est fugiat.</p>
        <p>Nisi unde debitis nesciunt ullam, itaque vero impedit dolorum blanditiis quis, in dignissimos sequi molestiae
          aliquid repudiandae quas ducimus nihil! Atque animi ipsa qui earum molestias soluta dolorum sunt delectus.</p>
        <p>Culpa soluta consectetur quis quod laudantium incidunt, alias mollitia exercitationem deserunt vitae ratione
          expedita autem commodi aut magnam! Blanditiis neque veritatis unde rerum repudiandae deserunt perferendis
          dolor ipsam commodi cupiditate.</p>
        <p>Necessitatibus ex, eligendi quisquam hic porro ad eos, quibusdam commodi eaque eum saepe libero reprehenderit
          vitae esse earum aperiam quam perferendis ut deleniti. Amet porro error commodi nostrum quidem hic.</p>
        <p>Nihil id exercitationem aut fuga ipsa deleniti ex at, enim accusamus necessitatibus fugiat possimus nesciunt
          quibusdam est odit aperiam totam! Quibusdam quod minima cum facere voluptatum, dicta eum repellat odit!</p>
        <p>Rem ipsum sapiente quisquam labore suscipit. Neque minus earum voluptates ea eos nesciunt porro cupiditate
          explicabo sit impedit aliquid nulla, quo, error distinctio voluptatum voluptatibus suscipit! Rem
          exercitationem pariatur veniam.</p>
      </div>

    </div>

    <!-- Contenedor para imagen y acciones -->
    <div class="w-4/12 absolute right-0 h-screen" style="top: -40px;">
      <div class="w-full sticky top-0 border-2 border-solid border-gray-600">
        <!-- Portada -->
        <div class="w-full">
          <img src="https://yt3.ggpht.com/LR1e69SSkXgAZLxBEQfvoAq4TbjTBRf5wYs43fpWJcHOf8mcHu2mRq9ldgmXqQ8U1Mg=w1080-rw"
            alt="">
        </div>
        <!-- Acciones -->
        <div class="w-full p-3 border-t-2 border-solid border-gray-600 bg-gray-200">
          <button
            class="mb-3 px-4 py-2 w-full border-2 border-solid border-green-800 bg-green-600 text-white">Jugar</button>
          <button class=" px-4 py-2 w-full border-2 border-solid border-red-800 bg-red-600 text-white">Añadir a
            favoritos</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Creador -->
<div class=""></div>
<!-- Contenido Multimedia -->
<div class=""></div>

<!-- Anuncios -->
<div class=""></div>

<!-- Reseñas -->
<div class=""></div>
