<div class="relative">
  <!-- Contenedor de Titulo -->
  <div
    class="sticky top-0 left-0 z-20 w-full bg-gray-900 text-white flex justify-center">
    <div class="w-10/12">
      <div class="p-3 w-8/12 flex flex-nowrap">
        <div class="w-full">
          <h1 class="text-2xl w-full">{{ novelaInfo?.titulo || 'Cargando...' }}</h1>
          @if (novelaInfo?.usuarioCreadorNombre) {
            <p class="w-full text-sm">Creado por {{ novelaInfo?.usuarioCreadorNombre }}</p>
          }
        </div>
        <div class="w-auto flex flex-wrap justify-center items-center">
          <a
            [routerLink]="['/', 'novelas']"
            class="px-4 py-2 rounded-2xl text-sm bg-gray-600 text-white"
            >Regresar</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Contenido -->
  <div class="w-full bg-gray-800 text-gray-900 flex justify-center">
    <div class="relative w-10/12 flex flex-wrap items-start">
      <!-- Contenedor Descripcion y demas -->
      <div class="w-8/12">
        <!-- Descripcion -->
        <div class="w-full p-5 my-5 bg-gray-600 text-white">
          @if (novelaInfo?.personajes?.length) {
            <div class="flex flex-wrap mb-3">
              @for (personaje of novelaInfo?.personajes; track personaje.personajeId) {
                <p
                  class="mr-3 rounded-full text-sm border-2 border-solid border-gray-900 px-2 py-1">
                  {{ personaje.nombre }}
                </p>
              }
            </div>
          }

          <!-- Descripcion -->
          <div class="">
            <p>{{ novelaInfo?.descripcion }}</p>
          </div>
        </div>
      </div>

      <!-- Contenedor para imagen y acciones -->
      <div class="p-5 sticky top-0 right-0 z-30 w-4/12 h-screen">
        <div class="w-full h-screen flex flex-col flex-nowrap overflow-hidden">
          <div class="w-full h-auto p-3 bg-gray-600">
            @if (estaPublicada) {
              <button
                [routerLink]="['/', 'play', novelaId]"
                class="mb-3 px-4 py-2 w-full border-2 border-solid border-green-800 bg-green-600 text-white">
                Jugar
              </button>
            } @else {
              <p class="text-white text-sm text-center">Aún no publicada</p>
            }
          </div>

          @if (novelaInfo?.portadaImagenUrl) {
            <div
              class="relative w-full h-full flex justify-center items-center overflow-hidden"
              style="max-height: 75vh">
              <img
                class="w-full object-contain object-center bg-gray-700"
                [src]="portadaUrl"
                alt="portada de la novela" />
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
