<div class="w-auto h-auto">
  <!-- Header -->
  <div
    class="sticky top-0 left-0 z-20 bg-gray-900 text-gray-200 w-full flex flex-wrap lg:flex-nowrap justify-center items-center">
    <div class="h-auto w-full lg:w-9/12 py-2 flex flex-row flex-wrap lg:flex-nowrap justify-between items-center">
      <!-- Titulo y busqueda -->
      <div class="px-3 lg:px-0 mb-2 lg:mb-0 w-full lg:w-auto flex lg:block flex-nowrap justify-between items-center">
        <h1 class="inline text-2xl w-auto">Creanovel</h1>
        <div class="inline lg:hidden w-auto">
          <a routerLink="/novelas-creator"
            class="w-auto px-2 py-1 rounded-lg bg-green-700 text-white whitespace-nowrap text-sm">
            Crear novela
          </a>
          <button class="p-2">
            <fa-icon size="lg" [icon]="faCog"></fa-icon>
          </button>
        </div>
      </div>
      <!-- Input -->
      <div class="w-full lg:w-8/12 px-4">
        <input class="w-full text-center rounded-full py-2 px-4 text-gray-900" type="text" (focus)="onNovelSearchFocus()" (blur)="onNovelSearchFocus()"
          placeholder="Buscar novela...">
      </div>
      <!-- Opciones -->
      <div class="hidden w-full lg:w-2/12 lg:flex lg:flex-nowrap lg:justify-between lg:items-center">
        <a routerLink="/novelas-creator"
          class="w-auto px-2 py-1 rounded-lg bg-green-700 text-white whitespace-nowrap text-sm">
          Crear novela
        </a>
        <button class="p-2">
          <fa-icon size="lg" [icon]="faCog"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div [ngClass]="{'hidden': showSearchInfo === true, 'block': showSearchInfo === false}" class="h-auto w-full">
    <app-novelas></app-novelas>
  </div>

  <!-- Cuadro de busqueda -->
  <div [ngClass]="{'hidden': showSearchInfo === false, 'block': showSearchInfo === true}" class="h-auto w-full">
    <h1>Resultados de la busqueda (será un componente)</h1>
  </div>

</div>
