.novelas-container-image {
  background-image: url('https://images.alphacoders.com/935/935315.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-safe-color {
  background-color: #fff1;
  color: white;
}
