<div class="novel-decisions">
  <label for="decision1" class="novel-decision-radio" id="labeldecision1">
      <input type="radio" id="decision1" name="decision" value="1" />
      <span class="novel-decision-info">Esta es una decisión</span>
  </label>
  <label for="decision2" class="novel-decision-radio" id="labeldecision2">
      <input type="radio" id="decision2" name="decision" value="2" />
      <span class="novel-decision-info">Esta es una decisión</span>
  </label>
  <label for="decision3" class="novel-decision-radio" id="labeldecision3">
      <input type="radio" id="decision3" name="decision" value="3" />
      <span class="novel-decision-info">Esta es una decisión</span>
  </label>
  <label for="decision4" class="novel-decision-radio" id="labeldecision4">
      <input type="radio" id="decision4" name="decision" value="4" />
      <span class="novel-decision-info">Esta es una decisión</span>
  </label>
</div>