<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
  <input
      type="email"
      class="input-nuevo-usuario"
      name="email"
      placeholder="correo...."
      value=""
      formControlName="email"
  />
  <input
      type="password"
      class="input-nuevo-usuario"
      name="password"
      placeholder="contraseña..."
      value=""
      formControlName="password"
  />
  <input
      type="submit"
      value="Enviar"
      class="py-2 px-3 rounded-2xl cursor-pointer"
  />
  <a class="lawea" routerLink="../signup">Registrarse</a>
</form>
