.creator-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3em auto;
}

.creator-navbar {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1 / 2;
}

.creator-escenas {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2 / 3;
}

.creator-mapa {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2 / 3;
}
