<div
  [ngClass]="{ hidden: false, block: true }"
  class="absolute w-full h-auto max-h-full overflow-auto bottom-0 left-0 z-30 box-border p-2">
  <!-- Character name -->
  <div class="inline-block px-2 py-1 text-lg bg-white text-black">
    <span class="">{{ recursoConversacion.personajeNombre }}</span>
  </div>

  <!-- Dialogue (toggle height between h-48 and h-auto) -->
  <div
    class="w-full h-48 p-3 overflow-auto box-border border-t-2 border-solid border-gray-700/75 bg-white">
    <p class="text-justify text-md">
      {{ recursoConversacion.mensaje }}
    </p>
  </div>
</div>
